<!DOCTYPE HTML>
<html>
	<head>
		<title>humdity & temperature</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Play-Offs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!meta charset utf="8">
		<!--bootstrap-->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<!--coustom css-->
		<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
		<!--script-->
		<script src="/static/js/jquery-2.1.4.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/move-top.js"></script>
		<script type="text/javascript" src="/static/js/easing.js"></script>

            <!--line-->
		<script type="text/javascript" src="/static/jss/jquery.min.js"></script>
		<style type="text/css">
			${demo.css}
		</style>
		<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!--script-->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});

			<!--line-->
			$(function () {
				$('#container').highcharts({
					chart: {
						type: 'line'
					},
					title: {
						text:  {{ state }}
					},
					subtitle: {
						{#text: ''#}
					},
					xAxis: {
						{#categories: [{$data0}]//这里应该输入时间#}
                        type: 'datetime',
                        formatter: function () {
						    return Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.value);
				        },
                        categories: [{{ time }}]
                        {#console.log({{ time }})#}
					},
					yAxis: [{
						title: {
							text: 'Temperature/ (℃)'
						},
					}, {
					    title: {
							text: 'Humdity/ (%rh)'
						},
                        opposite: true
                        }],
					tooltip: {
						backgroundColor: {
							linearGradient: [0, 0, 0, 60],
							stops: [
								[0, '#FFFFFF'],
								[1, '#E0E0E0']
							]
						},
						borderWidth: 1,
						borderColor: '#AAA',
						headerFormat: '<table>',
						pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
						'<td style="padding:0"></td><td>{point.y:.1f} ℃</td></tr>',
						footerFormat: '</table>',
						shared: true,
						useHTML: true
					},
					plotOptions: {
						line: {
							dataLabels: {
								enabled: true
							},
							enableMouseTracking: true
						}
					},
					series: [{
						type: 'line',
                        name: 'temperature',
						data: {{ temperature }},
                        yAxis: 0
					}, {
						type: 'line',
                        name: 'humdity',
                        data: {{ humdity }},
                        yAxis: 1
					}]
				});
			});
		</script>
	</head>
	<body>

		<!--header-part-->
		<div class="banner-background">
			<div class="container">
				<div class="nav-back">
					<div class="navigation">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a  href="/DHT">Home <span class="sr-only">(current)</span></a></li>

                                    <li ><a class="active" href="/DHT" >Temperature && Humdity</a></li>
									<li ><a href="/light" >Light && Threashold</a></li>

									<li><a href="{:U('contact')}">Contact Us</a></li>

								</ul>

							</div><!-- /.navbar-collapse -->
								<div class="clearfix"></div>
							<div class="clearfix"></div>
						</nav>
						<div class="clearfix"></div>
					</div>
					<div class="logo">
						<h1><a href="index.html"><span class="hlf">Smart House</span></a></h1>
					</div>
				</div>
			</div>
		</div>
		<!--header-->
		<div class="services">
			<div class="container">
				<div class="service-list">
					<h3>Temperature && Humdity Monitor</h3>
					<!--line-->
					<script src="/static/jss/highcharts.js"></script>
					<script src="/static/jss/modules/exporting.js"></script>

					<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
				</div>
			</div>
		</div>


		<!--footer-->
			<div class="footer">
				<div class="container">
				<div class="col-md-6 mrg1">
					<div class="col-md-4 brk4">
						<div class="about">
							<h4>ABOUT</h4>
							<ul>
								<li><a href="about.html">Company Info</a></li>
								<li><a href="#">Sollution</a></li>
								<li><a href="services.html">Services</a></li>
								<li><a href="about.html">Team</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 brk4">
						<div class="advice">
							<h4>ADVICE</h4>
							<ul>
								<li><a href="#">Faqs</a></li>
								<li><a href="#">Accounts</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 brk4">
						<div class="join-in">
							<h4>JOIN IN</h4>
							<ul>
								<li><a href="#">Forums</a></li>
								<li><a href="#">Promotions</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 brk5">
					<div class="follow-us">
						<h4>FOLLOW US</h4>
						<ul>
							<li><a href="#" class="fb"></a></li>
							<li><a href="#" class="twt"></a></li>
							<li><a href="#" class="gpls"></a></li>
							<li><a href="#" class="pint"></a></li>
							<li><a href="#" class="lnkdin"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 brk5">
					<div class="copy-rt">
						<h4>COPYRIGHT</h4>
						<p>Pet Kennel &#169 2015 Design by <a href="http://www.w3layouts.com" target="_blank">w3layouts</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
				</div>
			</div>
		<!--footer-->
		<!---->
		<script type="text/javascript">
				$(document).ready(function() {
						/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
						*/
				$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!----> 
	</body>
</html>